<link rel="import" href="../../../bower/polymer/polymer.html">
<link rel="import" href="../../../bower/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../bower/paper-input/paper-input.html">
<link rel="import" href="../../../bower/paper-button/paper-button.html">

<link rel="import" href="../app-store.html">

<dom-module id="stock-search">
    <style>
        /* inject:css */
        :host {
            display: flex;
            justify-content: center;

            --paper-input-container-label: {
                color: lightgray;
            }
            --paper-input-container-label-focus: {
                color: #000;
            }
            --paper-input-container-underline-focus: {
                background: green;
            }
        }
    </style>
    <template>
        <app-store id="store"></app-store>

        <div class="search-wrapper">
            <iron-a11y-keys keyEventTarget="stockName" keys="enter" on-keys-pressed="updateSymbol"></iron-a11y-keys>
            <paper-input-container>
                <label>Ticker symbol</label>
                <input id="stockName" is="iron-input" bind-value="{{queryString}}">
            </paper-input-container>
            <paper-button id="tickerInput" on-click="updateSymbol" class="search">Search</paper-button>
        </div>
    </template>
    <script>
        (function () {
            'use strict';

            class StockSearch {
                beforeRegister() {
                    this.is = 'stock-search';

                    this.properties = {
                        symbols: {
                            type: Array,
                            notify: true,
                            observer: 'updatedSymbol'
                        },
                        queryString: {
                            notify: true,
                            observer: 'updatedQueryString',
                            type: String
                        }
                    };
                }

                updatedQueryString() {
                    if (this.oldQueryString) {
                        this.$.store.dispatch('FILTER_QUERYSTRING_CHANGE', {queryString: this.queryString});
                    }

                    this.oldQueryString = this.queryString;
                }

                updateSymbol() {
                    this.$.store.dispatch('FILTER_SYMBOL_CHANGE', {symbol: this.queryString});
                }
            }

            Polymer(StockSearch);
        })();
    </script>
</dom-module>
