<link rel="import" href="../../../bower/polymer/polymer.html">
<link rel="import" href="../../../bower/paper-dialog/paper-dialog.html">

<dom-module id="stock-graph">
    <style>
        paper-button {
            --paper-button: {
                background-color: lightgray;
            };
            float: right;
            margin-right: 24px;
        }

        .symbol {
            font-weight: 700;
            font-style: oblique;
        }
    </style>
    <template>
        <quote-transform quote="[[quote]]"></quote-transform>
        <div id="highcharts"></div>

        <paper-dialog id="ooops" entry-animation="scale-up-animation"
              modal="true"
              withBackdrop="true"
              exit-animation="fade-out-animation">
              <h2>Oooops</h2>
              <div>Ticker symbol <span class="symbol">{{quote.Symbol}}</span> is unknown!!</div>
              <paper-button dialog-dismiss>Close</paper-button>
        </paper-dialog>
    </template>
    <script>
        (function () {
            class StockGraph {

                // Element setup goes in beforeRegister instead of createdCallback.
                beforeRegister() {
                    this.is = 'stock-graph';

                    // Define the properties object in beforeRegister.
                    this.properties = {
                        quote: {
                            type: Object,
                            notify: true
                        },
                        data: {
                            type: Array,
                            notify: true,
                            observer: 'updateData'
                        },
                        samples: {
                            type: Number,
                            notify: true,
                            observer: 'updateSamples'
                        }
                    };
                }

                ready() {
                    let self = this;
                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });

                    this.chart = $(this.$.highcharts).highcharts({
                        chart: {
                            type: 'spline',
                            animation: Highcharts.svg,
                            height: 300,
                            marginRight: 10,
                            backgroundColor: 'transparent',
                            events: {
                                load: function () {
                                    // set up the updating of the chart each second
                                    self.series = this.series[0];
                                }
                            }
                        },
                        title: {
                            text: this.createGraphTitle()
                        },
                        xAxis: {
                            type: 'datetime',
                            tickPixelInterval: 150
                        },
                        yAxis: {
                            title: {
                                text: 'Value'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.series.name + '</b><br/>' +
                                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                        Highcharts.numberFormat(this.y, 2);
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                marker: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Quote data',
                            data: []
                        }]
                    });

                }

                updateSamples() {
                    if (this.series.data.length > this.samples) {
                        this.series.setData(this.data);
                    }
                }

                updateData() {
                    if (this.data && this.quote) {
                        if (!this.quote.Name) {
                            this.$.ooops.open();
                        } else {
                            if (this.symbol !== this.quote.Symbol) {
                                this.symbol = this.quote.Symbol;
                                return this.series.setData(this.data)
                            }

                            let numberOfItems = this.data.length,
                                lastItem = this.data[numberOfItems - 1];

                                this.createGraphTitle();
                                this.series.addPoint(lastItem, true, this.series.data.length >= this.samples);
                        }
                    }
                }

                createGraphTitle() {
                    let highcharts = $(this.$.highcharts).highcharts(),
                        title = 'No data available';

                    if (this.quote) {
                        title = `Live data from ${this.quote.Name}`;
                    }

                    if (highcharts) {
                        highcharts.setTitle({text: title});
                    }

                    return title;
                }
            }

            Polymer(StockGraph);
        })();
    </script>
</dom-module>
