<link rel="import" href="../../../bower/polymer/polymer.html">

<link rel="import" href="../app-store.html">

<dom-module id="stock-graph-filter">
    <style>
        /* inject:css */
    </style>
    <template>
        <app-store id="store"></app-store>

        <div class="view-settings-wrapper" on-input="_onChangeInput">
            <paper-input-container type="number">
                <label>Interval (ms,  1000)</label>
                <input type="number" id="stock-name" is="iron-input" value="{{filter.interval}}">
            </paper-input-container>

            <div class="slider-wrapper">
                <label>Max data points: <span>{{samples}}</label>
                <paper-slider on-change="_onChangeSlider" min="10" max="100" value="{{filter.samples}}" pin="true"></paper-slider>
            <div>
        </div>
    </template>
    <script>
        (function () {
            class StockGraphFilter {
                beforeRegister() {
                    this.is = 'stock-graph-filter';

                    this.properties = {
                        filter: {
                            type: Object,
                            notify: true,
                        }
                    };
                }

                _onChangeInput(event) {
                  this.$.store.dispatch('FILTER_INTERVAL_CHANGE', {interval: parseInt(event.target.value)})
                }

                _onChangeSlider(event) {
                  this.$.store.dispatch('FILTER_SAMPLES_CHANGE', {samples: parseInt(event.target.value)});
                }
            }

            Polymer(StockGraphFilter);
        })();
    </script>
</dom-module>
