:host header {
    background: hsl(210, 30%, 0%) radial-gradient(hsl(210, 30%, 20%), hsl(210, 30%, 0%));
    font-family: Geneva, sans-serif;
    margin-bottom: 30px;
    position: relative;

    #page-hits {
        font-family: Geneva, sans-serif;
        color: #fff;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    /* box ------------------------------------------------------ */
    #box {
        padding: 10px;
        text-align: center;
        min-width: 500px;
        font-size: 3em;
        font-weight: bold;
        -webkit-backface-visibility: hidden; /* fixes flashing */
    }

    /* flashlight ------------------------------------------------------ */

    #flashlight {
        color: hsla(0, 0%, 0%, 0);
        perspective: 80px;
        outline: none;
    }

    /* flash ------------------------------------------------------ */

    #flash {
        display: inline-block;
        text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0, 0, 0, 0.8) 0 30px 25px;
        transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
    }

    #box:hover #flash {
        margin-left: 20px;
        transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
    }

    /* light ------------------------------------------------------ */
    #light {
        display: inline-block;
        text-shadow: #111 0 0 1px, rgba(255, 255, 255, 0.1) 0 1px 3px;
    }

    #box:hover #light {
        text-shadow: #fff 0 0 4px, #fcffbb 0 0 20px;
        transform: rotateY(-60deg);
        transition: transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
    }

    & > ::content {
        & > .save {
            bottom: -10px;
            position: absolute;
            right: 0;
        }

        & > .reset {
            bottom: -60px;
            position: absolute;
            right: 0;
        }
    }
}
